@import '../../assets/styles/global.scss';

html,
body{
    background: url("../../assets/images/mediumreaderbg.png");
    width: 100%;
}

.main{
    margin: 5rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 100%;
    img.logo{
        width: 100%;
    }

    @media (min-width: 1024px){
        img.logo{
            width: 60%;
        }
    }
}

.container{
    width: 60%;
    margin: 2rem 0;
}


.form--listen{
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 2px solid $primary-color;
    position: relative;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: $border-radius;
    background: #fff;

    input{
        flex-grow: 1;
        outline: none;
        border: none;
        padding: .5rem 1rem;
    }

    &:hover{
        border: 2px solid #2FCC8B;
    }

    button{
        color: #FFF;
        background: $primary-color;
        padding: .8rem 1.5rem;
        margin: 0 1rem;
        font-size: 20px;
        border: none;
        border-radius: $border-radius;
        opacity: .9;
        cursor: pointer;
        &:hover, &:focus{
            opacity: 1;
        }

        i{
            vertical-align: center;
        }

        @media (max-width: 768px){
            i{ display: none}
        }
    }
}

i{
    vertical-align: middle;
}

.player{
    margin: 2rem auto;
}

.text--link{
    margin: 3rem 0;
    border: 1px solid $primary-color;
    padding: 1rem;

    a{
        color: $primary-color;
        font-weight: bold;
    }
}

.credits{
    bottom: 10px;
    p{
        text-align: center;
    }
}

.share__container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }
}