@import "../../assets/styles/global.scss";


.twitter,
.github,
.feedback{
    outline: none;
    box-shadow: none;
    padding: 1rem 2rem;
    margin: .3rem 0;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;
    color: #FFF;
    opacity: .9;
    &:hover{
        opacity: 1;
    }
}

.twitter{
    background-color: #1DA1F2;
}

.github{
    background-color: #211F1F;
}

.feedback{
    background-color: #6A5870;
}